<div class="background">
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <img src="../../assets/robots/robot1.png" class="floating-image" />
  <img src="../../assets/robots/robot2.png" class="floating-image" />
  <img src="../../assets/robots/robot3.png" class="floating-image2" />
  <img src="../../assets/robots/robot4.png" class="floating-image" />
  <img src="../../assets/robots/robot5.png" class="floating-image" />
</div>

<div class="landing-container">
  <img src="../../assets/isologo.svg">
  <button class="action-btn" (click)="goToTutorials()">Tutorials</button>
  <button class="action-btn primary" (click)="start()">Get&nbsp;Started</button>
</div>
