<div class="background">
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
</div>

<div class="landing-container">
  <img src="../../assets/isologo.svg">
  <button class="action-btn" (click)="goToTutorials()">Tutorials</button>
  <button class="action-btn primary" (click)="start()">Get&nbsp;Started</button>
</div>
