.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #011C26;
    color: white;
    height: 56.69px;
  }

.logo {
  height: 50%;
  margin: 20px;
  cursor: pointer;
}
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  button, input {
    padding: 10px 20px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    border-radius: 10px;
    border-color: #011C26;
    box-shadow: 0px 2px 5px 0px #333e4371 inset;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .export {
    box-shadow: 0px 2px 5px 0px #287f65 inset;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #41BF9A;
    background-color: #41BF9A;
    color: white;
  }

  .help {
    box-shadow: 0px 2px 5px 0px #0404044f inset;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #333E43;
    background-color: #333E43;
    color: white;
  }

  .export.export:hover {
    border: 1px solid #39cea1;
    background-color: #39cea1;
  }

  .help:hover {
    border: 1px solid #404d53;
    background-color: #404d53;
  }

  .export.export:active {
    border: 1px solid #41b894;
    background-color: #41b894;
  }

  .help:active {
    border: 1px solid #303a3f;
    background-color: #303a3f;
  }

  .separator {
    border: none;
    width: 2px;
    background-color: #303a3f;
  }


  .load, .safe {
    box-shadow: 0px 2px 5px 0px #014249 inset;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #015C66;
    background-color: #015C66;
    color: white;
  }

  .load:hover, .safe:hover {
    border: 1px solid #017380;
    background-color: #027581;
  }

  .load:active, .safe:active {
    border: 1px solid #014d55;
    background-color: #014249;
  }


