<header class="header">
    <img src="../../../../assets/isologo.svg" alt="ROSBlocks" class="logo" (click)="reloadPage()">
    <div class="buttons">
      <button *ngIf="showExport" class="safe" (click)="safe()">Guardar proyecto</button>
      <button *ngIf="showExport" class="load" (click)="load()">Cargar proyecto</button>
      <div *ngIf="showExport" class="separator"></div>
      <button *ngIf="showExport" class="export" (click)="export()">Exportar proyecto</button>
      <button class="help" routerLink="/help">?</button>
    </div>
  </header>
  