.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #011c27;/*TODO */
    color: white;
  }

  .logo {
    font-family: 'Arial', sans-serif;/*TODO */
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-family: 'Arial', sans-serif;/*TODO */
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;/*TODO */
  }

  .export {
    font-family: 'Poppins', sans-serif;
    border: 1px solid #b249c1;/*TODO */
    background-color: #b249c1;/*TODO */
    color: white;
  }

  .help {
    font-family: 'Poppins', sans-serif;
    border: 1px solid gray;/*TODO */
    background-color: gray;/*TODO */
    color: white;
  }

  .export.export:hover {
    border: 1px solid #bc4dcb;/*TODO */
    background-color: #bc4dcb;/*TODO */
  }

  .help:hover {
    border: 1px solid #909090;/*TODO */
    background-color: #909090;/*TODO */
  }

  .export.export:active {
    border: 1px solid #993fa4;/*TODO */
    background-color: #993fa4;/*TODO */
  }

  .help:active {
    border: 1px solid #656565;/*TODO */
    background-color: #656565;/*TODO */
  }
