<app-header></app-header>
<div class="container">
    <div #blocklyDiv style="height: calc(100vh - 57px); width: 85vw;"></div>
    <div class="right-div">
        <div class="maps">
            <button class="sample-map">1</button>
            <button class="sample-map">2</button>
            <button class="sample-map">3</button>
            <button class="add-map">+</button>
        </div>
        <div class="turtlesim">
            <p style="color: aliceblue;">Turtlesim</p>
        </div>
        <div class="console">
            <p style="color: aliceblue;">Console</p>
        </div>
    </div>
</div>
