<div class="container">   
    <app-header></app-header> 
    <div id="workspaceContainer">
        <div #leftSection class="leftSection">
            <div class="topLeft">
                <div class="nodebar">
                    <div class="tabsBar" #tabsBar>
                        <ul class="tabList">
                            <li *ngFor="let tab of tabs; let i = index" class="nodeTab"
                                [class.selected]="tab.id === selectedTabId"
                                [ngStyle]="{
                                'z-index': tab.id === selectedTabId ? 999 : i + 1
                                }"
                                (click)="selectTab(tab.id)"
                                (contextmenu)="onRightClickTab($event,tab.id)">
                                <input type="text" [(ngModel)]="tab.name" (focus)="storePreviousName(tab)" (blur)="changeTabName(tab.id, tab.name)" class="node"/>
                                    <button class="deleteButton" (click)="confirmDeleteTab(tab.id)">✖</button>
                                    <button class="playButton" (click)="playTab(tab.id, false)">
                                        {{ tab.isPlaying ? '◼' : '▶' }}
                                    </button>
                                    <div *ngIf="tab.id === selectedTabId && tab.id === tabRightClick" (click)="duplicate(tab.name, tab.id)" class="duplicate">Duplicate</div>
                            </li>
                            <li class="addTabButton" (click)="addTab()">
                                <span>+</span>
                            </li>
                        </ul>
                        <div class="ai">
                            <button class="playAll" (click)="playAllTabs()">▶</button>
                            <button class="stopAll" (click)="stopAllTabs()">◼</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottomLeft">
                <div class="grayBack"></div>
                <div class="blocklyContainer">
                    <input
                        id="searchBox"
                        type="text"
                        placeholder="Search"
                        (input)="onSearch($event)"
                    />
                    <img id="createImg" class="noSelect" *ngIf="!selectedTabId" src="../../assets/CreaNuevoNodo.png">
                    <div *ngFor="let tab of tabs" 
                        [hidden]="tab.id !== selectedTabId" 
                        [attr.id]="'blocklyDiv-' + tab.id" 
                        style="height: calc(100vh - 95px); width: 100%;">
                    </div>
                </div>
            </div>
        </div>
        <div #resizer class="resizer" appResizer [leftContainer]="leftSection" [rightContainer]="rightSection">
        </div>
        <div #rightSection class="rightSection">
            <div class="maps">
                <button class="sampleMap" (click)="resetTurtleContainer(1)">
                    <p>1</p>
                    <div class="mapInsight">
                        <img src="../../assets/maps/map1.png">
                    </div>
                </button>
                <button class="sampleMap"(click)="resetTurtleContainer(2)">
                    <p>2</p>
                    <div class="mapInsight">
                        <img src="../../assets/maps/map2.png">
                    </div>
                </button>
                <button class="sampleMap"(click)="resetTurtleContainer(3)">
                    <p>3</p>
                    <div class="mapInsight">
                        <img src="../../assets/maps/map3.png">
                    </div>
                </button>
                <!-- matrix-image.component.html -->
                <button (click)="fileInput.click()" class="sampleMap addMap" [ngClass]="{'addedMap': matrixLoaded}">
                    <p>+</p>
                    <div *ngIf="matrixLoaded" class="mapInsight">
                      <canvas #matrixCanvas></canvas>
                    </div>
                  </button>
                  
                  <input type="file" #fileInput (change)="onFileSelected($event)" accept=".txt" style="display: none;">
                  
  
                <!--<canvas #matrixCanvas></canvas>-->
            </div>
            <div class="barTurtle">
                <div class="centerReload">
                    <button class="reloadTurtle" (click)="reloadTurtlesim()">&#x21bb;</button>
                </div>
            </div>
            <div class="turtlesim">
                <iframe #iframeElement [src]="sanitizedVncUrl" _ngcontent-ng-c809167999="" src="sanitizedVncUrl" title="VNC"></iframe>
                <div class="turtleSimCover" *ngIf="!mapFullyLoaded">
                    <img src="../../assets/loading.gif">
                </div>
            </div>
            <div class="bottomBarTurtle"></div>
            <div class="resetTurtleDiv">
                <button (click)="resetTurtleContainer()">Restart</button>
            </div>
            <div class="console">
                <p id=console_title>Console</p>
                <br>
                <app-console-output [output]="getConsoleLines()" [autoScrollEnabled]="autoScrollEnabled"></app-console-output>           
            </div>
            <button (click)="cleanConsole()" class="btnClean">Clear console</button>
            <button (click)="seeTopics()" class="btnTopics">Active topics</button>
        </div>
    </div>
</div>
<app-confirm
    *ngIf="candidateTabToDelete !== null"
    [message]="'Delete node \'' + candidateTabName + '\'?'"
    (confirm)="handleDeleteConfirmation($event)">
</app-confirm>
