* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  pointer-events: none;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

app-header {
  flex-shrink: 0;
  background-color: darkgray;
}

#workspaceContainer {
  display: flex;
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.leftSection {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  z-index: 600;
  min-width: 30%;  /* Here to adjust how right bar grows */
  max-width: 80%;    /* Here to adjust how right bar grows */
  width: 80%;      /* Here to adjust how right bar grows (initial widht)*/
}

.resizer {
  width: 5px;
  cursor: ew-resize;
  background-color: gray;
  z-index: 605;
}

.rightSection {
  flex: 1;
  background-color: #253942;
  overflow-x: scroll;
  min-width: 100px;
  z-index: 10000;
}

.topLeft {
  background-color: #253942;
}

.bottomLeft {
  flex: 1;
  background-color: #012840;
}


.grayBack {
  width: 250px;
  height: calc(100% - 60px);
  background-color: #253942;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 1;
}

.maps {
  height: 50px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  display: flex;              /* Flex container */
  justify-content: center;   /* Horizontal centering */
  align-items: center
}

.maps * {
  margin: 0 2px;
}

.turtlesim {
  width: 100%;
  height: 250px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.console {
  width: 100%;
  height: calc(45vh - 20px);
  background-color: #001117;
  color: aliceblue;
}

.addMap, .sampleMap {
  border: none;
  height: 100%;
  aspect-ratio: 1 / 1;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
}

.tabsBar {
  display: flex;
  padding: 0px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: 38px;
  scrollbar-width: 1px;
  margin-left: 250px;
  background-color: #012840;
}

.tabList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start; 
}


.tabList li {
  border-radius: 0 15px 0 0;
}

.tabList input {
  border: none;
  background: transparent;
  color: #3bdbdb;/*!*/
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  width: 15ch; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input::selection {
  background-color: transparent;
}

.nodeTab {
  display: inline-block;
  padding: 10px;
  padding-right: 15px;
  margin-left: -10px;
  background-color: #022741;/*!*/
  border-top-right-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  position: relative;
}

.nodeTab:hover {
  background-color: #002f50;/*!*/
}

.nodeTab input {
  outline: none;
}

.nodeTab input:hover {
  text-shadow: 0px 0px 3px #20fcfcc7;
}

.nodeTab.selected {
  background-color: #015C66;/*!*/
  color: white;/*!*/
  border-color: #015C66;/*!*/
  box-shadow: 3px 0px 2px #0115248c;
}

.nodeTab button {
  padding: 0;
  border: none;
  background: none;
  color: #3bdbdb;/*!*/
}

.addTabButton {
  display: inline-block;
  padding: 10px 20px;
  padding-left: 30px;
  margin-left: -15px;
  background: #015C66;/*!*/
  color: #3bdbdb;/*!*/
  cursor: pointer;
  font-weight: bold;
  position: relative;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  min-width: 20px;
  z-index: 1;
}

.deleteButton {
  margin-right: 5px;
}

.deleteButton:hover, .playButton:hover {
  text-shadow: 0px 0px 5px #3bdbdb;
  cursor: pointer;
}

.addTabButton:hover {
  background: #016e7a;/*!*/
  color: #20fcfc;/*!*/
  text-shadow: 0px 0px 10px #20fcfc;
}

#searchBox {
  background-image: url('../../assets/search-icon.svg');
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 16px;
  text-align: left;
  position: absolute;
  margin-bottom: 10px;
  padding: 10px 5px !important;
  top: 76px;
  left: 15px;
  z-index: 999;
  width: 205px !important;
  border-radius: 20px;
  border: 2px solid #253942;
  background-color: #2B5465;
  color: #FFF;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#searchBox:focus,
#searchBox:not(:placeholder-shown) {
  background-image: none;
}

#searchBox:hover {
  background-color: #2e5e72;
  transform: scale(1.01);
}


#searchBox::placeholder {
  color: #04f2f256;
  text-align: center;
  font-size: 18px;
}

#searchBox:focus {
  box-shadow: 0px 0px 1px #11f5f567;
  border: 2px solid #39657a;
  background-color: #2B5465;
  outline: none;
}

.addMap {
  border-radius: 100% !important;
}

.sampleMap, .addMap{
  border-radius: 10px;
  color: #FFF;
  box-shadow: 0px 5px 5px 0px #00000047 inset;
  background-color: #015C66;
}

.sampleMap:hover, .addMap:hover{
  background-color: #016874;
}

.sampleMap:active, .addMap:active{
  border-radius: 10px;
  color: #FFF;
  box-shadow: 0px 5px 5px 0px #00000047 inset;
  background-color: #04C4D9;
}

.ai {
  margin-left: auto;
  display: flex;
  gap: 10px;
  padding-right: 10px;
}

.playAll, .stopAll {
  border: none;
  background: none;
  padding: 5px 5px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}


.playAll {
  color: #3bdbdb;
}

.playAll:hover {
  text-shadow: 0px 0px 5px #3bdbdb;
  background: none !important;
}

.stopAll:hover {
  text-shadow: 0px 0px 5px #F15FF2;
  background: none !important;
}

.stopAll {
  color: #F15FF2;
}

.playAll:hover, .stopAll:hover {
  background: #016e7a;
}

#createImg {
  position: fixed;
  width: 200px;
  top: 100px;
  left: 255px;
}
#cursor {
  font-weight: bold;
  animation: blink 1s step-end infinite;
  color: aliceblue;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1px;
  display: inline-block;
  vertical-align: baseline;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.btnClean {
  position: relative;
  top: -32px;
  left: 5px;
  background-color: #015C66;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-right: 5px; /* Añade espacio a la derecha */
  display: inline-block; /* Permite que los botones se alineen en línea */
}

.btnTopics {
  position: relative;
  top: -32px;
  left: 5px; /* Misma posición que btnClean */
  background-color: #015C66;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: inline-block; /* Permite que los botones se alineen */
  margin-left: 0; /* Elimina cualquier margen izquierdo */
}

.btnClean:hover,
.btnTopics:hover {
  background-color: #006b77;
  transform: scale(1.02);
}

.mapInsight {
  position: absolute;
  margin: 0px -75px !important;
  width: 200px;
  height: 200px;
  background-color: #015c6694;
  border: 3px solid #3bdbdb;
  box-shadow: 0px 0px 5px #3bdbdb61;
  top: 130px;
  padding: 5px;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
  transition: opacity 0.1s ease-in-out, visibility 0.08s;
}

.sampleMap:hover .mapInsight {
  opacity: 1;
  visibility: visible;
}


.mapInsight img {
  width: 100%;
  height: 100%;
  position: relative;
  left: -1.8px;
  padding: 2px;
}

.addedMap {
  background-color: #058057 !important;
}

.addedMap:hover {
  background-color: #07a166 !important;
}

iframe {
  width: 500px; 
  height: 523px; 
  border: none;
  margin: 0 auto;
  zoom: 59%;
}

/* Covers top bar of noVNC */
.barTurtle {
  background: #253942;
  width: 100%;
  height: 14px;
  position: relative;
  top: -16px;
  z-index: 10;
}

.bottomBarTurtle {
  background: #253942;
  width: 100%;
  height: 14px;
  position: relative;
  top: 16px;
  z-index: 10;
}

.resetTurtleDiv {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.resetTurtleDiv * {
  margin: 10px 20px;
  background-color: #015C66;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.centerReload {
  position: absolute;
  left: calc(50% + 125px);
}
.reloadTurtle {
  border-radius: 5px;
  position: relative;
  top: 20px;
  left: -45px;
  border: none;
  cursor: pointer;
}

.reloadText {
  font-size: 12px;
}

.reloadTurtle:hover {
  box-shadow: 0 0 5px #ffffff;
}

canvas {
  width: 100%;
  height: 100%;
}

.turtleSimCover {
  background-color: #000000cf;
  width: 300px;
  height: 300px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.turtleSimCover img {
  width: 30%;
  height: 30%;
  filter: hue-rotate(45deg);
}

.duplicate {
  position: fixed;
    margin: 10px 45px;
    background: #015C66;
    height: 25px;
    font-size: small;
    width: 100px;
    padding: 5px;
    border-radius: 0 0 30px 30px;
}

.gost {
  width: 70%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0 15px 0px 0px;
}
/* toolbox styles */

/* Status Indicator Styles */
.status-indicator {
  margin-left: 15px; /* Adjust spacing as needed */
  font-size: 0.9em;
  color: #cccccc; /* Light gray, adjust as needed */
  display: inline-block; /* Ensure it stays on the same line as title if possible */
  vertical-align: middle; /* Align with text */
}

.status-running {
  color: #4CAF50; /* Green */
  font-weight: bold;
}

.status-stopped {
  color: #f44336; /* Red */
  font-weight: bold;
}

