* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  pointer-events: none;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

app-header {
  flex-shrink: 0;
  background-color: darkgray;
}

#workspace-container {
  display: flex;
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.left-section {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  min-width: 30%;  /* Here to adjust how right bar grows */
  max-width: 80%;    /* Here to adjust how right bar grows */
  width: 80%;      /* Here to adjust how right bar grows (initial widht)*/
}

.resizer {
  width: 5px;
  cursor: ew-resize;
  background-color: gray;
}

.right-section {
  flex: 1;
  background-color: #253942;
  overflow-x: scroll;
  min-width: 100px;
}

.top-left {
  background-color: #253942;
}

.bottom-left {
  flex: 1;
  background-color: #012840;
}


.gray-back {
  width: 250px;
  height: calc(100% - 60px);
  background-color: #253942;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 1;
}

.maps {
  height: 50px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: -10px;
}

.maps * {
  margin: 0 2px;
}

.turtlesim {
  margin-top: 20px;
  width: 100%;
  height: 20pc;
  height: 300px;
  display: flex; 
  justify-content: baseline; 
  align-items: center; 
  padding: 0 20px;
}

.console {
  width: 100%;
  height: 45vh;
  background-color: #001117;
  color: aliceblue;
}

.add-map, .sample-map {
  border: none;
  height: 100%;
  aspect-ratio: 1 / 1;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
}

.tab-content {
  border-top: 2px solid rgba(128, 128, 128, 0.3);
  height: calc(100% - 40px);
  overflow: auto;
  background-size: 20px 20px;
  background-image:
  linear-gradient(to right, rgba(128, 128, 128, 0.2) 1px, transparent 1px),
  linear-gradient(to bottom, rgba(128, 128, 128, 0.2) 1px, transparent 1px);
  background-attachment: scroll;
}

.tabs-bar {
  display: flex;
  padding: 0px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: 38px;
  scrollbar-width: 1px;
  margin-left: 250px;
  background-color: #012840;
}

.tab-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start; 
}


.tab-list li {
  border-radius: 0 15px 0 0;
}

.tab-list input {
  border: none;
  background: transparent;
  color: #3bdbdb;/*!*/
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  width: 15ch; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input::selection {
  background-color: transparent;
}

.node-tab {
  display: inline-block;
  padding: 10px;
  padding-right: 15px;
  margin-left: -10px;
  background-color: #022741;/*!*/
  border-top-right-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  position: relative;
}

.node-tab:hover {
  background-color: #002f50;/*!*/
}

.node-tab input {
  outline: none;
}

.node-tab input:hover {
  text-shadow: 0px 0px 3px #20fcfcc7;
}

.node-tab.selected {
  background-color: #015C66;/*!*/
  color: white;/*!*/
  border-color: #015C66;/*!*/
  box-shadow: 3px 0px 2px #0115248c;
}

.node-tab button {
  padding: 0;
  border: none;
  background: none;
  color: #3bdbdb;/*!*/
}

.add-tab-button {
  display: inline-block;
  padding: 10px 20px;
  padding-left: 30px;
  margin-left: -15px;
  background: #015C66;/*!*/
  color: #3bdbdb;/*!*/
  cursor: pointer;
  font-weight: bold;
  position: relative;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  min-width: 20px;
  z-index: 1;
}

.delete-button {
  margin-right: 5px;
}

.delete-button:hover, .play-button:hover {
  text-shadow: 0px 0px 5px #3bdbdb;
  cursor: pointer;
}

.add-tab-button:hover {
  background: #016e7a;/*!*/
  color: #20fcfc;/*!*/
  text-shadow: 0px 0px 10px #20fcfc;
}

#searchBox {
  background-image: url('../../assets/search-icon.svg');
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 16px;
  text-align: left;
  position: absolute;
  margin-bottom: 10px;
  padding: 10px 5px !important;
  top: 76px;
  left: 15px;
  z-index: 999;
  width: 205px !important;
  border-radius: 20px;
  border: 2px solid #253942;
  background-color: #2B5465;
  color: #FFF;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#searchBox:focus,
#searchBox:not(:placeholder-shown) {
  background-image: none;
}

#searchBox:hover {
  background-color: #2e5e72;
  transform: scale(1.01);
}


#searchBox::placeholder {
  color: #04f2f256;
  text-align: center;
  font-size: 18px;
}

#searchBox:focus {
  box-shadow: 0px 0px 1px #11f5f567;
  border: 2px solid #39657a;
  background-color: #2B5465;
  outline: none;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin: 10px;
}

.search-button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 25px 0 0 25px;/*!*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button:hover {
  background-color: #2d3e46;/*!*/
}

.search-icon {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: relative;
  filter: invert(41%) sepia(79%) saturate(7484%) hue-rotate(154deg);/*!*/
}

.search-icon::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 2px;
  background-color: #3bdbdb43;/*!*/
  top: 7px;
  left: 6px;
  transform: rotate(45deg);
}

.search-input {
  padding: 10px 0;
  padding-left: 50px;
  margin-left: -40px;
  font-size: 16px;
  width: 175px;
  border: 2px solid #3bdbdb43;/*!*/
  background-color: #3bdbdb43;/*!*/
  color: white;/*!*/
  border-radius: 25px;
  outline: none;
}

.search-input::placeholder {
  color: #bbbbbb;/*!*/
}

.search-input:focus {
  border-color: #2d3e46;/*!*/
}

.add-map {
  border-radius: 100% !important;
}

.sample-map, .add-map{
  border-radius: 10px;
  color: #FFF;
  box-shadow: 0px 5px 5px 0px #00000047 inset;
  background-color: #015C66;
}

.sample-map:hover, .add-map:hover{
  background-color: #016874;
}

.sample-map:active, .add-map:active{
  border-radius: 10px;
  color: #FFF;
  box-shadow: 0px 5px 5px 0px #00000047 inset;
  background-color: #04C4D9;
}

.ai {
  margin-left: auto; /* Empuja los botones a la derecha */
  display: flex;
  gap: 10px;
  padding-right: 10px;
}

.play-all, .stop-all {
  border: none;
  background: none;
  padding: 5px 5px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}


.play-all {
  color: #3bdbdb;
}

.play-all:hover {
  text-shadow: 0px 0px 5px #3bdbdb;
  background: none !important;
}

.stop-all:hover {
  text-shadow: 0px 0px 5px #F15FF2;
  background: none !important;
}

.stop-all {
  color: #F15FF2;
}

.play-all:hover, .stop-all:hover {
  background: #016e7a;
}

#createImg {
  position: fixed;
  width: 200px;
  top: 85px;
  left: 255px;
}
#cursor {
  font-weight: bold;
  animation: blink 1s step-end infinite;
  color: aliceblue;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1px;
  display: inline-block;
  vertical-align: baseline;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.btn-clean {
  position: relative;
  top: -32px;
  left: 5px;
  background-color: #015C66;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-clean:hover {
  background-color: #006b77;
  transform: scale(1.02);
}

.map-insight {
  position: absolute;
  margin: 0px -75px !important;
  width: 200px;
  height: 200px;
  background-color: #015c6694;
  border: 3px solid #3bdbdb;
  box-shadow: 0px 0px 5px #3bdbdb61;
  top: 130px;
  padding: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease-in-out, visibility 0.08s;
}

.sample-map:hover .map-insight {
  opacity: 1;
  visibility: visible;
}


.map-insight img {
  width: 100%;
  height: 100%;
  position: relative;
  left: -1.8px;
  padding: 2px;
}

.delete-custom-map {
  width: 15px;
  height: 15px;
  position: fixed;
  background-color: brown;
  margin: -35px 35px !important;
  border-radius: 100%;
  font-size: 11px;
}

.added-map {
  background-color: #058057 !important;
}

.added-map:hover {
  background-color: #07a166 !important;
}

iframe {
  width: 315px; 
  height: 100%; 
  border: none;
  margin: 0 auto;
}

/* Para cubrir la barra de noVNC */
.barTurtle {
  width: 100%;
  height: 28px;
  background: #253942;
  position: fixed;
  top: 122px;
}

.resetTurtleDiv {
  width: 100%;
  text-align: center;
}

.resetTurtleDiv * {
  margin: 10px 20px;
  background-color: #015C66;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}