@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

::-webkit-scrollbar {
    width: 5px;
    height: 3px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #00fbff;
    border: 53px none #00ffd5;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #00ebeb;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #00e7eb;
  }
  ::-webkit-scrollbar-track {
    background: #9c9c9c;
    border: 0px none #941e1e;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #8f8f8f;
  }
  ::-webkit-scrollbar-track:active {
    background: #828282;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }