@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;600&display=swap');

/* Fonts */
@font-face {
  font-family: 'Kanit';
  /*src: url('/assets/fonts/Kanit-Black.ttf') format('truetype');*/
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit-BlackItalic';
  src: url('/assets/fonts/Kanit-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Kanit-Bold';
  src: url('/assets/fonts/Kanit-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit-BoldItalic';
  src: url('/assets/fonts/Kanit-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Kanit-ExtraBold';
  src: url('/assets/fonts/Kanit-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit-ExtraBoldItalic';
  src: url('/assets/fonts/Kanit-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Kanit-ExtraLight';
  src: url('/assets/fonts/Kanit-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit-ExtraLightItalic';
  src: url('/assets/fonts/Kanit-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Kanit-Italic';
  src: url('/assets/fonts/Kanit-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Kanit-Light';
  src: url('/assets/fonts/Kanit-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit-LightItalic';
  src: url('/assets/fonts/Kanit-LightItalic.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'Kanit-Medium';
  src: url('/assets/fonts/Kanit-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: 'Kanit', sans-serif;
}
/* Scroll bar */
::-webkit-scrollbar {
    width: 8px;;
    height: 8px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #00fbff;
    border: 53px none #00ffd5;;
    margin: 2px;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #00ebeb;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #00e7eb;
  }
  ::-webkit-scrollbar-track {
    background: #ddf3f2;
    border: 0px none #941e1e;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #cadbda;
  }
  ::-webkit-scrollbar-track:active {
    background: #ddf3f2;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }


  /* vertical scrollbar */
#blocklyDiv::-webkit-scrollbar {
  width: 12px;
}

#blocklyDiv::-webkit-scrollbar-track {
  background: #e20e0e;
}

#blocklyDiv::-webkit-scrollbar-thumb {
  background: #f50808;
  border-radius: 6px;
}

#blocklyDiv::-webkit-scrollbar-thumb:hover {
  background: #e00808;
}

/*  horizontal scrollbar*/
#blocklyDiv::-webkit-scrollbar-horizontal {
  height: 12px;
}

#blocklyDiv::-webkit-scrollbar-track-horizontal {
  background: #ff0000;
}

#blocklyDiv::-webkit-scrollbar-thumb-horizontal {
  background: #eb0f0f;
  border-radius: 6px;
}

#blocklyDiv::-webkit-scrollbar-thumb-horizontal:hover {
  background: #db1c1c;
}
.console-output-container::-webkit-scrollbar-thumb {
  background: aliceblue;
  border-radius: 6px;
}

/* Blockly */
.blocklyToolboxDiv {
  margin-top: 30px;
  width: 250px;
  height: calc(100% - 56.69px) !important;
  background-color: #253942;
  color: #FFF;
}

.blocklyTreeRow {
  text-align: center;
  margin: 5px 15px;
  padding: 10px 0 !important;
  border-radius: 5px;
  background-color: #39515c;
  box-shadow: 0px 5px 10px 0px #00000040 inset;
  transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.5s ease;
}

.blocklyTreeRow:hover {
  background-color: #22617e !important;
  transform: scale(1.02);
  box-shadow: 0px 0px 2px #1c77a1;
}

.blocklyTreeSelected {
  background-color: #22617e !important;
  border: 2px solid #1ea7e623;
  box-shadow: 0px 0px 6px #1c77a1;
  transition: box-shadow 0.3s ease;
}


.blocklyFlyout{
  background-color: #3c505a;
  border-radius: 0;
}

.blocklyFlyoutBackground {
  fill: #DDF2F1;
  fill-opacity: .8;
}

.blocklySvg {
  background-size: 20px 20px;
  background-color: #012840;
  background-image: linear-gradient(to right, rgba(128, 128, 128, 0.2) 1px, transparent 1px), linear-gradient(to bottom, rgba(128, 128, 128, 0.2) 1px, transparent 1px);
}

.blocklyTreeIconClosed {
  background-position: -32px -17px;
}

.blocklyTreeIconOpen {
  background-position: -16px -17px;
}

.no-select {
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;
}
